
@font-face {
  font-family: 'WickHop';
  src: url('fonts/WickHop.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
